<link rel="stylesheet" href="/css/detailService.css">

<title>{{service.title}}</title>


<div class="service-header mb-5">
    <div class="service-category">
        <p>{{service.category}}</p>
    </div>
    <div>
        <h2>{{service.title}}</h2>
    </div>
    <div class="service-timeCreate">
        <p>{{service.createdAt}}</p>
    </div>
    <hr>
</div>


<div class="service-body mb-5">
    <div class="service-description ">
        <h3>{{service.description}}</h3>
        <h4>Price from: {{service.priceS}}VND to {{service.priceL}}VND </h4>
    </div>
    <div class="service-img d-flex justify-content-center mb-5">
        <img src="{{service.img}}" alt="" height="380">
    </div>
    <div class="service-content"  id = "{{service.contentCode}}">
        
    </div>
</div>
<script>
        const serviceContent = document.querySelector('.service-content');
        var html = `` + serviceContent.id;
        serviceContent.innerHTML = html;
</script>