<link rel="stylesheet" href="/css/detailBlog.css">

<title>{{blog.title}}</title>


<div class="blog-header mb-5">
    <div class="blog-category">
        <p>{{blog.category}}</p>
    </div>
    <div>
        <h2>{{blog.title}}</h2>
    </div>
    <div class="blog-timeCreate">
        <p>{{blog.createdAt}}</p>
    </div>
    <hr>
</div>


<div class="blog-body mb-5">
    <div class="blog-description ">
        <p>{{blog.description}}</p>
    </div>
    <div class="blog-img d-flex justify-content-center mb-5">
        <img src="{{blog.img}}" alt="" height="380">
    </div>
    <div class="blog-content"  id = "{{blog.contentCode}}">
        
    </div>
</div>
<script>
        const blogContent = document.querySelector('.blog-content');
        var html = `` + blogContent.id;
        blogContent.innerHTML = html;
</script>